<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          th:href="@{/css/bootstrapCss/bootstrap.css}"/>
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"-->
          <!--integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->
    <title>Formularz zgłoszeniowy</title>
</head>

<body>
<div class="container">
    <h3>Formularz kontaktowy</h3>
    <hr>
    <form action="#" th:action="@{/save}"
          th:object="${user}" method="post">

        <label><u>Imię</u>(*)</label>
        <strong><label id="errroLabelInputName" class="errorText" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</label></strong>
        <input id="inputName" type="text" th:field="*{name}"
               th:classappend="${#fields.hasErrors('name')} ? errorBorder"
               class="form-control mb-4 col-4" placeholder="Wpisz imię...">


        <label><u>Nazwisko</u>(*)</label>
        <strong><label class="errorText" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</label></strong>
        <input id="inputLastName" type="text" th:field="*{lastName}"
               th:classappend="${#fields.hasErrors('lastName')} ? errorBorder"
               class="form-control mb-4 col-4" placeholder="Wpisz nazwisko...">


        <label><u>Pesel</u>(**)</label>
<!--        <strong><label id="emailIsEmpty" th:text="${emailAndPhoneIsEmpty}" class="errorText"/></label></strong>-->
        <strong><label class="errorText" th:if="${#fields.hasErrors('pesel')}" th:errors="*{pesel}">Name Error</label></strong>
        <input id="inputPesel" type="text" th:field="*{pesel}"
               th:classappend="${#fields.hasErrors('pesel')} ? errorBorder"
               class="form-control mb-4 col-4" placeholder="Wpisz pesel...">


        <label><u>Stan konta</u>(**)</label>
<!--        <strong><label id="phoneIsEmpty" th:text="${emailAndPhoneIsEmpty}" class="errorText"/></label></strong>-->
        <strong><label class="errorText">Name Error</label></strong>
        <input id="inputStanKonta" type="text"  th:valueType="org.demo.springbootThymeleaf.entity.BankAccount"  th:field="*{stanKonta.actualPln}"
               class="form-control mb-4 col-4" placeholder="Wpisz numer telefonu...">


        <button id="btnTeamSave" type="submit" class="btn btn-info col-2">Wyślij</button>
    </form>
    <hr>
    <span>(*) - pole wymagane</span><br>
    <span>(**) - pole wymagane opcjonalnie (Email lub Telefon musi zostać uzupełnione)</span>
</div>
</body>

</html>










