<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Hello <span th:text="${name}"/>
<br/>
<!--details:  <span th:text="${details}"/>-->
stan konta zł:  <span th:text="${stanKonta.actualPln}"/>
stan konta usd:  <span th:text="${stanKonta.actualUsd}"/>
<br/>

<!--<table>-->
<!--    <th:block th:each="auth : ${authorities}">-->
<!--        <tr>-->
<!--            <td th:text="${auth}">...</td>-->
<!--        </tr>-->
<!--    </th:block>-->
<!--</table>-->

<form action="#" th:action="@{/hello/exchange}"
      th:object="${exchange}" method="post">

    <label><u>toExchangePln</u>(*)</label>
    <strong><label id="errroLabelInputName" class="errorText" th:if="${#fields.hasErrors('toExchangePln')}" th:errors="*{toExchangePln}">Name Error</label></strong>
    <input id="inputName" type="text" th:field="*{toExchangePln}"
           th:classappend="${#fields.hasErrors('toExchangePln')} ? errorBorder"
           class="form-control mb-4 col-4" placeholder="Wpisz imię...">

    <button id="btnTeamSave" type="submit" class="btn btn-info col-2">toExchangePln</button>
</form>


</body>
</html>