<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          th:href="@{/css/bootstrapCss/bootstrap.css}"/>
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"-->
    <!--integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->
    <title>Zakładanie konta</title>
</head>

<body>
<div class="container">
    <br/>
    <h3>Konto zostało poprawnie utworzone!</h3>
    <a th:href="@{/register}">Powrót do strony formularza zakładania nowego konta</a>
    <br/>
    <br/>
    <a th:href="@{/jpr-bank-app}">Zaloguj się!</a>
</div>
</body>

</html>










